# ZGL Statistics
This document contains analytics samples from ZGL data.

## Import required data

In [6]:
import pandas as pd
import plotly.plotly as py
from plotly.offline import iplot, init_notebook_mode

# Using plotly + cufflinks in offline mode
import cufflinks

cufflinks.go_offline(connected=True)
init_notebook_mode(connected=True)

%matplotlib inline

df = pd.read_excel("/home/data.xlsx")
df.head(3)

        Name  Vorname      Zeit Geschlecht Strecke Route  Lauf  Jahr
0     Krüger  Michael  00:11:04          m       k     N     1  1995
1     Krüger   Stefan  00:11:17          m       k     N     1  1995
2  Schwuchow    Denis  00:12:03          m       k     N     1  1995

## Clean Data
Delete all entry without Time

In [2]:
df = df[(df.Zeit != "DNF") & (df.Zeit != 0)]
df.head(4)

        Name    Vorname      Zeit Geschlecht Strecke Route  Lauf  Jahr
0     Krüger    Michael  00:11:04          m       k     N     1  1995
1     Krüger     Stefan  00:11:17          m       k     N     1  1995
2  Schwuchow      Denis  00:12:03          m       k     N     1  1995
3       Brix  Alexander  00:12:20          m       k     N     1  1995

## Participants statistics
### Yearly participation

In [3]:
grouped = df.groupby(["Jahr"]).size()
# print(grouped)
grouped.iplot(mode='lines+markers+text',
    opacity=0.8,
    xTitle='Year',
    yTitle='Participants',
    title='Number of participants since the begining')

## How many men and women each year?

In [28]:
number_of_participants_by_sex = df.groupby(["Jahr","Geschlecht"])
number_of_participants_by_sex = number_of_participants_by_sex.size()

number_of_participants_by_sex

Jahr  Geschlecht
1995  m             20
      w             10
1996  m             15
      w             10
1997  m             27
      w             14
1998  m             38
      w             16
1999  m             26
      w             18
2000  m             23
      w             18
2001  m             32
      w             14
2002  m             29
      w             16
2003  m             32
      w              8
2005  m             25
      w             14
2006  m             23
      w             13
2007  m             27
      w             25
dtype: int64

## Statistics for all events
Sorted with the best record for each year

In [6]:
all_in_one = df.groupby(["Jahr","Geschlecht","Strecke", "Zeit", "Name", "Vorname"])

# Get all statistics for all events
all_in_one.size().head(5)

Jahr  Geschlecht  Strecke  Zeit      Name       Vorname
1995  m           k        00:11:04  Krüger     Michael      1
                           00:11:17  Krüger     Stefan       1
                           00:12:03  Schwuchow  Denis        1
                           00:12:20  Brix       Alexander    1
                           00:13:01  Schwuchow  Marcel       1
dtype: int64

## Top x per year, route and sex

In [21]:
# Just change your variable
year = 2002
route = "k"
sex = "m"
top = 6
all_in_one.filter(lambda x: (x.Jahr == year) &(x.Strecke == route) & (x.Geschlecht == sex)).head(top)

      Name  Vorname      Zeit Geschlecht Strecke Route  Lauf  Jahr
281   Koch   Martin  00:10:35          m       k     N     8  2002
282  Pfeil   Martin  00:10:35          m       k     N     8  2002
283   Nake   Robert  00:12:06          m       k     N     8  2002
284   Nake  Dietmar  00:12:51          m       k     N     8  2002
285  Klein     Axel  00:13:32          m       k     N     8  2002
286   Nake   Philip  00:13:32          m       k     N     8  2002

## Record over the years for men and women

In [13]:
sex = "m"
route = "l"

stat_by_sex_and_route = df.groupby(["Geschlecht","Strecke"])
bestRecord = stat_by_sex_and_route.get_group((sex, route)).sort_values(by=['Zeit']).head(6)
bestRecord

          Name  Vorname      Zeit Geschlecht Strecke Route  Lauf  Jahr
467  Hoffmann      Jens  00:18:30          m       l     R    13  2007
125      Päsch  Andreas  00:18:57          m       l     R     4  1998
468     Martin   Robert  00:20:05          m       l     R    13  2007
126   Bochmann     Jens  00:21:11          m       l     R     4  1998
127     Rahmig  Manfred  00:21:20          m       l     R     4  1998
469   Mehlhorn   Reiner  00:21:33          m       l     R    13  2007

## Personal Record

In [29]:
# group by name, firstname and Year of participation
participant = ("Kirsch","Karin")
grouped_by_participant = df.groupby(["Name", "Vorname"])
person = grouped_by_participant.get_group(participant).sort_values(by=['Zeit'])
print(person)
person.iplot(kind="bar", x="Jahr", y="Zeit",  xTitle='Jahr', yTitle='Zeit', title='Personal Evolution')

       Name Vorname      Zeit Geschlecht Strecke Route  Lauf  Jahr
115  Kirsch   Karin  00:09:22          w       k     R     4  1998
451  Kirsch   Karin  00:09:51          w       k     R    13  2007
208  Kirsch   Karin  00:11:46          w       k     N     6  2000
164  Kirsch   Karin  00:12:13          w       k     N     5  1999
76   Kirsch   Karin  00:14:31          w       k     N     3  1997
17   Kirsch   Karin  00:16:24          w       k     N     1  1995
44   Kirsch   Karin  00:18:13          w       k     N     2  1996
427  Kirsch   Karin  00:22:25          w       k     N    12  2006
389  Kirsch   Karin  00:26:01          w       k     N    11  2005
323  Kirsch   Karin  00:36:07          w       l     N     8  2002